.DS_Store
flutter/
configstore/
raycast/
sketchybar_*/
sketchybar/*.png
/mole/operations.log
/mole/mole.log
/sketchybar/sketchybar-rose-pine-ref.png
/sketchybar/sketchybar-rose-pine-ref
/ghostty/moonveil.png
.claude/

!sketchybar_stable/
/raycast-x/extensions
/fish/fish_variables
/fish/conf.d/python-3.14.fish.pysave
