.DS_Store
flutter/
configstore/
raycast/
sketchybar_*/
/mole/operations.log
/mole/mole.log
/sketchybar/sketchybar-rose-pine-ref.png
/sketchybar/sketchybar-rose-pine-ref
/ghostty/moonveil.png

!sketchybar_stable/
